 <!--================Welcome Area =================-->
 <section class="welcome_area">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4 class="abt-heading">About Myself</h4>
                    <p>{{aboutDetail?.aboutme}}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-database"></i>
                                <h4>$2.5M</h4>
                                <p>Total Donation</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>1465</h4>
                                <p>Total Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>3965</h4>
                                <p>Total Volunteers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="skill_main">
                        <div class="skill_item" *ngFor="let item of aboutDetail?.skillMapping">
                            <h4>{{item.title}} <span class="counter">{{item.weightage}}</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div [ngStyle] = "{'width': item.weightage+'%'}" class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.weightage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->