@import '../../../../mainStyles/abstract/variables';
@import '../../../../mainStyles/abstract/mixin';

.header_area{
    .main_menu{
        z-index: 99;
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        .navbar-brand.logo_h{
            color: $white;
        }
    }
    .nav.navbar-nav{
        .nav-item{
            padding: 0 15px;
            a.nav-link.active{
                color: $dip !important;
                font-size: 16px;
                background: $white !important;
                border-radius: 5px;
                padding: 8px 25px;
            }
            a.nav-link{
                color: $white;
            }
            
        }
    }
}