<header class="header_area" stickyElement>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" ><h1>Portfolio</h1></a>
                <button class="navbar-toggler" (click)="onTogglerClick($event)" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/workAndEducation']" [queryParams]="{tab: 'exp'}" routerLinkActive="active" >Timeline</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/pocs']" routerLinkActive="active" >POCs</a></li> 
                    </ul>
                </div> 
            </div>
        </nav>
    </div>
</header>


