<header class="header_area" stickyElement>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" >Logo here</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/workAndEducation']" routerLinkActive="active" >Work and Education</a></li> 
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/pocs']" routerLinkActive="active" >POCs</a></li> 
                        <li class="nav-item"><a class="nav-link">Contact</a></li>
                    </ul>
                </div> 
            </div>
        </nav>
    </div>
</header>