<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
         <div class="banner_content">
             <div class="media">
                 <div class="d-flex img-container">
                     <img src="../../../assets/img/profile.jpg" alt="">
                 </div>
                 <div class="media-body">
                     <div class="personal_text">
                         <h6>Hello Everybody, I am</h6>
                         <h3>Rohit Sharma</h3>
                         <h4>Frontend Developer</h4>
                         <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                         <ul class="list basic_info">
                             <li><a href="#"><i class="lnr lnr-calendar-full"></i> 2nd March, 1993</a></li>
                             <li><a href="#"><i class="lnr lnr-phone-handset"></i> +91 7418249323</a></li>
                             <li><a href="#"><i class="lnr lnr-envelope"></i> rohitgargi0293@gmail.com</a></li>
                             <li><a href="#"><i class="lnr lnr-home"></i> Home address</a></li>
                         </ul>
                         <ul class="list personal_social">
                             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>