<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
         <div class="banner_content">
             <div class="media">
                 <div class="d-flex img-container">
                     <img src="../../../assets/img/profile.jpg" alt="">
                 </div>
                 <div class="media-body">
                     <div class="personal_text">
                         <h6>Hello Everybody, I am</h6>
                         <h3 class="names">{{basicDetail?.name}}</h3>
                         <h4>{{basicDetail?.designation}}</h4>
                         <p>{{basicDetail?.about}}</p>
                         <ul class="list basic_info">
                             <li><a href="#"><i class="lnr lnr-calendar-full"></i>{{basicDetail?.dob}}</a></li>
                             <li><a href="#"><i class="lnr lnr-envelope"></i> rohitgargi0293@gmail.com</a></li>
                             <li>{{basicDetail?.address}}</li>
                         </ul>
                         <ul class="list personal_social">
                             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>